@mixin size($width, $height) {
  width: $width !important;
  height: $height !important;
}

.blog-page-container {
  // background-image: url(../img/blog-bg1440.jpg);
  color: white;
  background-size: cover;
  font-family: "Roboto", sans-serif;

  .blog-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    user-select: none !important;
  }

  .blog-atom {
    position: fixed;
    right: 23%;
    top: 27;
    width: 27vw;
    height: 25vw;
    user-select: none !important;
  }
}

.slider-arrow-blog {
  .arrow {
    margin-left: 1rem;
    height: 50px;
    width: 50px;
    border-radius: 9in;
    border: 1px solid #7af0d1;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      cursor: pointer;
      background: #7af0d038;
    }
  }
}
.yukarii {
  position: relative;
  font-size: 70px;
  font-weight: 300;
  padding: 0 2.7rem;
}

.blog-list-container {
  display: flex;
  margin-top: 3rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
  cursor: grab !important;
}
.blog-link-container {
  width: 28%;
  margin-right: 1rem;
  min-width: 400px;
  max-width: 400px;

  a {
    width: 100%;
    img {
      width: 100%;
    }
  }

  .tarih {
    font-size: 17px;
    margin: 1rem 0;
    font-weight: normal;

    color: #787a7c;
  }

  p {
    margin: 0;
    font-size: 22px;
    font-weight: normal;

    color: #f3f3f3;
  }
}

.pager {
  display: flex;
  font-weight: 300;
  color: #f3f3f3;
  .first {
    font-size: 70px;
    line-height: 60px;
    align-self: flex-start;
  }

  .second {
    font-size: 18px;
    align-self: flex-start;
  }
}

@media screen and(max-width:1024px) {
  .blog-link-container p {
    font-size: 16px !important;
  }
  .blog-link-container {
    min-width: 311px !important;
    max-width: 311px !important;
  }
  .pager {
    display: none !important;
  }
  .blog-page-container .blog-bg {
    width: 136% !important;
  }

  .blog-page-container .blog-atom {
    right: -17% !important;
    top: 19% !important;
    width: 58vw !important;
    height: 55vw !important;
  }
}
.ortala1 {
  display: flex;
  align-items: center;
}
@media screen and(max-width:666px) {
  div.blog-page-container.container-fluid > div:nth-child(6) > div {
    padding-right: 0 !important;
  }

  .ortala1 {
    padding-right: 0 !important;
  }

  .blog-page-container .blog-bg {
    width: 100% !important;
  }

  .blog-page-container .blog-atom {
    right: -67% !important;
    top: 22% !important;
    width: 117vw !important;
    height: 129vw !important;
  }

  .blog-link-container {
    min-width: 250px !important;
    max-width: 250px !important;
  }

  .yukarii {
    padding: 0 1rem !important;
  }
  .ortala1 {
    display: block !important;
  }

  .sneaker-blog-title {
    font-size: 38px !important;
  }

  .blog-list-container {
    margin-top: 1rem !important;
  }

  .slider-arrow-blog {
    text-align: right !important;
    .arrow {
      width: 28px !important;
      height: 28px !important;

      &:nth-child(1) {
        margin-left: auto;
      }

      svg {
        width: 8px !important;
        height: 8px !important;
      }
    }
  }
}
.yukari2 {
  position: relative;
  color: white;
}
.contact-top {
  margin-top: 5rem;
}
.contact-us {
  &__container {
    form {
      input {
        width: 100%;
        outline: none;
        background: transparent;
        border-bottom: 1px solid #ededed !important;
        font-size: 17px;
        border: none;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        color: #ededed;

        &::placeholder {
          color: #ededed;
        }
      }

      button {
        background: #7af0d1;
        margin-top: 1rem;
        border-radius: 9in;
        color: #002a3f;
        border: none;
        width: 30%;
        display: block;
        margin-left: auto;
        font-size: 18px;
        width: 176px;
        height: 41px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
      }
    }
  }

  &__atom {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 35vw;
    height: 34vw;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__title {
    font-family: "Reem Kufi", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
  }

  &__info-container {
    font-family: "Roboto";
    h1 {
      font-size: 40px;
      font-style: normal;
      font-weight: 300;
      line-height: 48px;
      margin-bottom: 3rem;
      color: rgba(243, 243, 243, 1);
    }

    p {
      margin-bottom: 1.4rem;
      font-size: 17px;
      font-weight: 400;
      color: rgba(243, 243, 243, 1);
    }
  }
}

.li-be-seller {
  border: none !important;
  button {
    border-radius: 9in;
    width: 90%;
    margin: 0 auto;
    display: block;
    color: #002a3f;
    border: none !important;
    background: #7af0d1;
    font-family: "Lato", sans-serif;
    padding: 0.5rem 0;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.my-account-container .col-lg-9 {
  animation-name: gel;
  animation-duration: 0.2s;
  transition: 0.2s;
}

@keyframes gel {
  from {
    transform: translateX(-30px);
    transform: scale(0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.not-full {
  p {
    font-size: 1.2rem;
  }

  button {
    border-radius: 9in;
    display: block;
    color: #002a3f;
    border: none !important;
    background: #7af0d1;
    font-family: "Lato", sans-serif;
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.my-account-container .row > * {
  padding-right: 0 !important;
}

.filter-search-button {
  width: 97%;
  background: #7af0d1;
  color: #002a3f;
  border-radius: 9in;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.7rem 0;
}

.order {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-family: "Lato", sans-serif;
  padding: 1rem 0rem;
  border-bottom: 1px solid #e4e4e4;
  text-align: center;
  box-sizing: border-box;

  h4.gri {
    font-size: 0.9rem;
    color: #c2c2c2;
    font-weight: 500;
    margin-top: 0.5rem;
    span {
      color: #002a3f;
    }
  }

  &__detay {
    margin: auto;

    button {
      background: #7af0d1;
      color: #002a3f;
      border-radius: 5px;
      display: flex;
      align-items: center;
      border: none;
      outline: none;
      padding: 0.5rem 2rem;
      font-size: 1.2rem;
      transition: 0.1s;
      font-weight: 600;
      &:hover {
        background: #6ce6c5;
        cursor: pointer;
        transform: scale(1.1);
      }

      &:active {
        transform: scale(1);
      }
      svg {
        width: 15px;
        height: 15px;
        margin-left: 10px;
      }
    }
  }

  &__status {
    margin: auto;
    .status {
      display: flex;
      border-radius: 9in;
      align-items: center;
      padding: 0.3rem 1.3rem;

      h5 {
        font-size: 1.1rem !important;
        font-weight: bold;
        color: #002a3f;
        margin: 0;
        margin-left: 0.5rem;
        user-select: none !important;
      }

      .ball {
        border-radius: 9in;
        width: 18px;
        height: 18px;
        background: #002a3f;
      }
    }

    .status-green {
      background: rgba(41, 255, 22, 0.19);
    }

    .status-yellow {
      background: rgba(250, 255, 0, 0.4);
    }

    .status-orange {
      background: rgba(255, 134, 22, 0.19);
    }

    .status-red {
      background: rgba(255, 22, 22, 0.19);
    }
  }

  &__fiyat {
      margin: auto;
    h3 {
      font-weight: bold !important;
    }
  }

  &__bas {
    text-align: left;

    h2 {
      font-weight: bold;
      font-size: 1.5rem;
      margin-bottom: 0.2rem;
    }
  }
}

.order-dropdown {
    font-family: "Lato",sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
 // padding: 0.5rem;
 padding: 0;
  overflow: hidden;
  height: 0px;
  transition: .2s cubic-bezier(0.38, 0.27, 0.58, 1);



  &__orta,.droo{
      padding-top: 1rem;
      p{
          font-size: 1.1rem;
          color:#5f5e5e;
          padding-right: 2px;
      }
      h6{
          font-size: 1.1rem;
          color:#002a3f;
          font-weight: 600;
          span{
              opacity: 0.8;
          }
      }
  }

  &__sol {
    img {
      width: 100%;
    }

    h1{
        text-align: center;
        font-size: 1.8rem;
        font-weight: bold;
    }

    button,a {
      display: block;
      border: none;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      width: 60%;
      padding: 0.4rem 0;
      font-size: 1.4rem;
      margin: 1rem auto;
      border-radius: 9in;
      transition: .1s;

      &:hover{
          transform: scale(1.1);
      }
    }

    a.blue,button.blue {
      background: #7af0d1;
      color: #002a3f;
    }

    button.red {
      color: white;
      background: rgba(255, 66, 66, 0.72);
    }
  }
}

@media screen and (max-width:768px) {
    .order{
        &__bas{  text-align: center;}
        grid-template-columns: 1fr 1fr !important;
        grid-gap: 20px 50px;
    }
    .order-dropdown{
        //padding: 0.7rem;
        box-sizing: border-box;
        overflow: scroll !important;
        grid-template-columns: 1fr !important;
    }
}

@media screen and (max-width:423px) {
    .order{
        .status{
            padding: 0.3rem 0.5rem !important;
            }


      
        &__detay{
            button{
                font-size: 1rem;
                padding: 0.5rem 0.8rem;
            }
        }
        &__fiyat{
            h3{
                font-size: 1.1rem;
            }
        }
        
        &__bas{
          
            h2{
                font-size:1.1rem
            }
        }
        h4.gri{
            font-size: 0.9rem;
        }
    }
}

@media screen and (max-width:340px) {
    .order{
        grid-gap: 20px 20px;
    }
}